{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Weapons</h2>

    {% for product in weapons_products %}
        <!-- DISPLAYING PRODUCTS IN CERTAIN CATEGORY -->
        <div class="list">
            <ul class="product-cont">
                <li>
                    <div class="product">
                        <a href="{% url 'product' product.id %}" class="product-link">
                            <div class="product-content">
                                <h1 class="product-name">{{ product.title }}</h1>
                                <hr style="border-top:2px white;padding-top:10px;">
                                <strong><p class="product-price">{{ product.price }} ETH</p></strong>
                                <p class="product-info">{{ product.description }}</p>
                                <br/>
                                {% if product.pictures %}
                                    <img src="{{ product.pictures.url }}" alt="" class="product-img">
                                {% else %}
                                    <small>No Pictures</small>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    {% endfor %}

    <h2>Armor</h2>

    {% for product in armor_products %}
        <!-- DISPLAYING PRODUCTS IN CERTAIN CATEGORY -->
        <div class="list">
            <ul class="product-cont">
                <li>
                    <div class="product">
                        <a href="{% url 'product' product.id %}" class="product-link">
                            <div class="product-content">
                                <h1 class="product-name">{{ product.title }}</h1>
                                <hr style="border-top:2px white;padding-top:10px;">
                                <strong><p class="product-price">{{ product.price }} ETH</p></strong>
                                <p class="product-info">{{ product.description }}</p>
                                <br/>
                                {% if product.pictures %}
                                    <img src="{{ product.pictures.url }}" alt="" class="product-img">
                                {% else %}
                                    <small>No Pictures</small>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    {% endfor %}

    <h2>Shields</h2>

    {% for product in shields_products %}
        <!-- DISPLAYING PRODUCTS IN CERTAIN CATEGORY -->
        <div class="list">
            <ul class="product-cont">
                <li>
                    <div class="product">
                        <a href="{% url 'product' product.id %}" class="product-link">
                            <div class="product-content">
                                <h1 class="product-name">{{ product.title }}</h1>
                                <hr style="border-top:2px white;padding-top:10px;">
                                <strong><p class="product-price">{{ product.price }} ETH</p></strong>
                                <p class="product-info">{{ product.description }}</p>
                                <br/>
                                {% if product.pictures %}
                                    <img src="{{ product.pictures.url }}" alt="" class="product-img">
                                {% else %}
                                    <small>No Pictures</small>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    {% endfor %}

    <h2>Talismans</h2>

    {% for product in talismans_products %}
        <!-- DISPLAYING PRODUCTS IN CERTAIN CATEGORY -->
        <div class="list">
            <ul class="product-cont">
                <li>
                    <div class="product">
                        <a href="{% url 'product' product.id %}" class="product-link">
                            <div class="product-content">
                                <h1 class="product-name">{{ product.title }}</h1>
                                <hr style="border-top:2px white;padding-top:10px;">
                                <strong><p class="product-price">{{ product.price }} ETH</p></strong>
                                <p class="product-info">{{ product.description }}</p>
                                <br/>
                                {% if product.pictures %}
                                    <img src="{{ product.pictures.url }}" alt="" class="product-img">
                                {% else %}
                                    <small>No Pictures</small>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    {% endfor %}

{% endblock %}